* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
  color: #eee;
	font-family: Consolas, monospace;
}

header {
  display: flex;
  padding: 1rem 1rem 0;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

header a {
  color: #76c6ff;
  text-decoration: none;
  margin-left: 0.5rem;
}

header a:hover {
  color: #42b0ff;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

main > * {
  margin-bottom: 1rem;
}

textarea {
  display: block;
  background-color: #111;
  color: #eee;
  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: vertical;
  min-height: 4rem;
}

textarea.error {
  background-color: #1c0000;
  color: #ff7979;
}

.text-container {
  position: relative;
}

.text-container textarea {
  width: 100%;
}

.overlay {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
  color: #76c6ff;
  cursor: pointer;
}

.overlay:hover {
  color: #42b0ff;
}

.overlay.pressed {
  transform: scale(0.9);
  color: #0c64a3;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  color: #aaa;
  padding: 0 0.25rem;
  margin: 0 0.25rem;
  cursor: pointer;
}

.tab:hover {
  color: #fff;
}

.tab.selected {
  color: #fff;
  border-bottom: 2px solid #fff;
}
